/* Responsive */

    @media(max-width:992px){
     
    nav{
      gap: 3rem;
      padding-right: 8rem;
    }
    .menu-icon{
      padding-right: 1rem;
    }
    .nav nav a{
        font-size: 18px;
        padding-left: -30px;
        gap: 2rem;
    }
    .hero{
        grid-template-columns:1fr;
        text-align:center;
      }
      .hero-text{
        padding:2.5rem;
    }
      .hero-text h1{
        font-size:2.2rem;
        text-align: center;
    }
    .hero-text p{
      justify-content: center;
        margin:0 auto 3rem;
        font-size: 19px;
        line-height: 1.5rem;
    }
      .burgerburger-image img{
        order:-1;
    }

    
      .section{
        grid-template-columns:1fr;
        display: block;
        gap:4rem;
        text-align:center;
      }
      .info-box{
        margin:0 auto;
      }
      .gallery{
        display: block;
        flex-direction: column;
        grid-template-columns:1fr;
        padding-left: 0px;
        justify-content: center;
        align-items: center;
      }
      .gallery-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .gallery-2 img{
        width: 300px;
      }
      .info-box{
        width: 100%;
        text-align: left;
      }
      .info-box p{
        font-size: 19px;
      }
      .info-box h2{
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
      }
      .info-box a{
        font-size: 19px;
      }

    }





    @media(max-width:600px){
      .gallery{
        grid-template-columns:1fr;
      }
      
      nav{
        margin-left: -80px;
      gap: 1.15rem;
      align-items: center;
    }
    .menu-icon{
      padding-right: 0.5 rem;
    }
    .menu-icon img{
      align-items: center;
      width: 30px;
      height: auto;
    }
    .nav nav a{
        font-size: 11px;
        padding-left: -30px;
        gap: 2rem;
    }
      .menu-icon{
        display:block;
    }
      .hero-text h1{
        font-size:1.8rem;
    }
      .hero-text p{
        font-size: 16px;
        line-height: 1.4rem;
    }
      .gallery img{
        width: 250px;
        height: 200px;
      }
      .gallery-2 img{
        width: 250px;
        height: 400px;
      }
      .info-box{
        width: 352px;
        height:225px;
        text-align: left;
      }
      .info-box p{
        text-align: left;
        font-size: 16px;
      }
      .info-box h2{
        text-align: left;
        font-size: 2rem;
        line-height: 2.5rem;
      }
      .info-box a{
        font-size: 16px;
      }
    }